* {
    box-sizing: border-box;
}
section {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial,sans-serif;
}
h1 {
    font-size: 22px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
p{
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
    color: #333333;
}
hr {
    width: 60px;
    height: 3px;
    background: orange;
    border: none;
    margin: 20px auto;

}
div {
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
    margin-right: 15px;
}
article {
    display: inline-block;
    width: calc(50% - 15px);
    margin-left: 15px;
}
div a  {
    display: inline-block;
    /*margin: 0 10px;*/
    width: calc(50% - 10px);
    text-decoration: none;
    background: url("https://lh3.googleusercontent.com/-02-k2W9sMLAXs1he7rUl4c7-lm1iictL8s06o4aY1csj4pK4fOWGLg_6sjYwke1k9Ve=s128") center / cover;
    padding: 95px 0 12px 14px;

}
div span {
    display: inline-block;
    background: #333;
    color: white;
    padding: 15px 35px 15px 15px;
}
i   {
    margin: 10px;
    /*display: inline-block;*/
    /*width: 20px;*/
}
h2  {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
span {
    color: orange;
}
article p {
    text-align: initial;
    line-height: 24px;
}
article a {
    display: inline-block;
    background: orange;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    
}