input {
    display: none;
}
label {
    user-select: none;
}
span{
    display: inline-block;
    width: 0.68em;
    height: 0.68em;
    border: 2px solid black;
    text-align: center;
    line-height: 0.68em;
    vertical-align: middle;



}
span::before{
    content: "L";
    font-family: Arial,sans-serif;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1) rotate(-30deg);
    transition: all 100ms;
}
input:checked + span::before{
    font-size: 0.8em;
}