 /*Спецификация*/
 body {
     /*font-family: ;*/
 }
 .alcohol-coding {
  padding-top: 50px;
 }
 .container {
  max-width: 1170px;
  margin:  0 auto;

 }
.row {
 display: flex;
}
 /*Первый блок*/
.content {
 background: rgba(86, 110, 208, 0.1);
 margin-top: 35px;
 width: 700px;
 height: 362px;
 padding: 50px 100px 0 100px;
 box-sizing: border-box;

}
.content h2 {
 text-transform: uppercase;
 font-size: 24px;
 line-height: 36px;
 color: #696D7C;

}
 .content p {
  font-size: 18px;
  line-height: 27px;
  color: #858A9F;
 }
 .man {
  background-image: url("../img/image.png");
  width: 504px;
  height: 438px;
  /*position: absolute;*/
 }
.logo {
 background-image: url("../img/logo.png");
 transform: rotate(30deg);
 width: 182.66px;
 height: 196.35px;
 left: 300px;
 top: 490px;
 opacity: 0.3;
 position: absolute;
 background-repeat: no-repeat;
}

 .content-text-h2 {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 150px;
 }
 .content-text-hr {
  width: 190px;
  border: 1px solid #FBAC35;
 }
.content-text p {
 font-size: 18px;
 line-height: 27px;
 color: #858A9F;
}
.content-text li {
 font-size: 18px;
 line-height: 27px;
 color: #858A9F;
 list-style-position: outside;
 padding-left: 100px;

}
.form-consultation {
 background: #FAFAFA;

}
.form-img {
 background-image: url("../img/doctor.png");
 width: 580px;
 height: 559px;
 background-position-x: -460px;
 background-size: cover;
}
.form-block {
 width: 505px;
 height: 512px;
 text-align: center;
 margin: 25px 0 0 80px;
 background: #FBAC35;
 border-radius: 5px;
}
.form-block h3 {
 color: white;
 font-size: 24px;
 line-height: 36px;
 margin-top: 20px;
}
.form-block p {
 font-size: 18px;
 line-height: 27px;
 text-align: center;
 padding: 0 90px;
 color: #4C4E59;
}
.input-text{
 box-sizing: border-box;
 width: 400px;
 height: 43px;
 margin: 10px 0;
 border: none;
 background: rgba(255, 255, 255, 0.5);
 font-size: 18px;
 line-height: 27px;
 color: rgba(69, 70, 74, 0.85);
 padding-left: 20px;
}
.select-block {
 width: 400px;
 height: 43px;
 margin: 10px 0;
 border: none;
 background: rgba(255, 255, 255, 0.5);
 font-size: 16px;
 line-height: 36px;
 color: rgba(69, 70, 74, 0.85);
 padding-left: 40px;
}
.batton-consultation {
 width: 295px;
 height: 43px;
 margin: 10px 0;
 border: none;
 font-size: 16px;
 line-height: 36px;
 color: #FFFFFF;
 background-color: #D68000;
}
