form    {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    display: inline-block;
}
svg {
    width: 10px;
}
button {
    border: none;
}
i   {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}