* {
    margin: 0;
    padding: 0;
}
a, h2, batton{
    text-transform: uppercase;
    font-weight:bold;
    font-family: Arial;
}
a, h2, p, batton{

    font-weight:bold;
}
header {
    text-align: center;
    padding: 15px;
    margin: 15px;
}
img{
    width: 100%;
}
a {
    padding: 65px;
    color: #16a085;
    text-decoration: none;
}
main {
    padding: 55px;
    text-align: center;
    background-color: #f5f6f7;
    height: 450px;

}
h2{
    color: #373737;
}
p{
    margin: 30px;
    color: #373737;
    margin-left: 10%;
    margin-right: 10%;
}
batton {
    border: 1px solid #16a085;
    background-color: #16a085;
    padding: 15px;
    color: white;
    margin: 40px;
}
footer p{
    text-align: right;
}