body {
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    width: 1030px;
    margin: 0 auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
}
.main-content {
    height: calc(100vh - 54px);
    justify-content: center;
    align-items: center;
}
input {outline:none;}
.header {
    box-sizing: border-box;
    display: flex;
    padding-top: 15px;
    background-color: rgba(0,0,0,0.50);
    height: 54px;
}
.header_logo {}
.header_logo a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;


}
.header_logo a:hover {
    color: #3cb878;
    transition: 0.3s;
    nw-resize : pointer;
}
.header_main {
    display: flex;
}
.img-header {
    display: flex;
}
.img-header a i{
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/css_sprites.png") no-repeat;
}


.img.caledar {
    background-position: 0 0px;

}
.img.forum {
    background-position:  -50px 0px;

}
.img.jurney {
    background-position: -100px 0px;

}
.img.caledar:hover {
    background-position: 0 -40px;

}
.img.forum:hover {
    background-position:  -50px -40px;

}
.img.jurney:hover {
    background-position: -100px -40px;

}

.form-header {

    color: white;
}
.text-green{
    text-decoration: none;
    color: #3cb878;

}
.form-block {
    margin: 0 auto;
    background-color: white;
    width: 446px;
    height: 584px;
    left: 0;
    right: 0;
    top: 16%;
    position: absolute;
    border-radius: 25px;
    color: #434343;

}
.login_block {
    margin: 33px 61px;
}
.square-green:before{
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
}
.text-green{
    text-align: right;
}
.text-green:hover{
    text-decoration: underline;
    transition: 0.3s;
    nw-resize : pointer;
}
.first-block {
    display: flex;
    justify-content:space-between;
    margin-bottom: 15px;
    width: 340px;
}
.btn {
    display: flex;
    justify-content:space-between;
    width: 340px;
}
.facebook-btn {
    background-color: #305db8;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 16px;
    width: 165px;
    text-align: left;
}
.facebook-btn:hover {
     background-color: #264b96;
    transition: 0.3s;
    nw-resize: pointer;
 }

.google-btn {
    background-color: #df4a32;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 16px;
    width: 165px;
    text-align: left;
}
.google-btn:hover{
    background-color: #c3412c;
    transition: 0.3s;
    nw-resize: pointer;
}
.btn button i {
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    padding: 10px;
    margin-right: 19px;

}
.delimiter {
    text-align: center;
    padding: 18px;
}
.input-block input {
    width: 310px;
    padding: 13px 13px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.31);
}
.input-block input:hover {
    box-shadow: 0 5px 10px -5px black;
    transition: 0.3s;
    nw-resize: pointer;
}
.checkbox-text {
    display: flex;


}
.consent .checkbox {

}
.consent {
    display: flex;
    padding: 15px 0;
}


.btn-create {
    width: 340px;
    padding: 13px 13px;
    border-radius: 5px;
    background-color: #3cb878;
    color: white;
    border: none;
}
.btn-create:hover{
    background-color: #329a65;
    transition: 0.3s;
    nw-resize: pointer;
}