p::selection {
    background: yellow;
}
p::first-letter{
    background: green;
}
p::first-line{
    background: blue;
}
input::placeholder{
    color: blue;
}
input:focus{
    outline: none;
    border: 1px solid green;
}
input::hover {
    border: 1px solid darkgreen;
}
a:link{
    color: red;
}
a:visited{
    color: orange;
}
a:active{
    text-decoration: line-through;
}
body :first-of-type {
    background: rgba(0, 0, 0, 0.28);
}
input:checked {
    transform: scale(2);
}
:first-of-type
:nth-child()
:nth-last-of-type()
