table {
    --brdr-color: #b7b7b7;
    --brdr: 0.5px solid var(--brdr-color);
    --bg:#ebebeb;
    background: var(--brdr);
    /*border-collapse: collapse;*/
    /*overflow: hidden;*/
    width: 100%;
}
th, td {
    border: var(--brdr);
    padding: 4px;
}
thead {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);


}
th {

    position: sticky;
    top: 0;
    background: var(--bg);

}
thead tr {
    height: 28px;
}
thead tr:nth-child(2) th {
    top: 28px;
}
thead tr:nth-child(2) th,
thead tr:first-child th:first-child,
thead tr:first-child th:last-child {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.8);
}
td {
    min-width: 200px;
}
.table-wrapper {
    overflow-x: auto;
    max-height: 400px;
}
tr:first-child th:first-child,
td:first-child {
    position: sticky;
    left: 0;
    background: var(--bg);
}
tr:last-child th:last-child,
td:last-child {
    position: sticky;
    right: 0;
    background: var(--bg);
}
button {
    width: 200px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    color: white;
    background: #89c331;
    /*border-botton: 7px solid #78b027 ;*/
    box-shadow: inset 0 -50px 0 -50px solid #78b027;
}
