.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;

}
body {
    font-size: 100px;
    /*color: orange;*/
    filter: filter: invert(12%) sepia(82%) saturate(7215%) hue-rotate(2deg) brightness(101%) contrast(113%);;
}
.container {
    background: red;
    font-family:  'Roboto', sans-serif;

}
@font-face {

}
.right {
    float: right;
    margin-left: 10px;
    height: 120px;
}
.clearfix {
    clear: both;
}


/*/////////////////////////////*/