.container {
    font-size: 30px;

}
.description {
    font-size: 20px;
    /*font-size: 110%;*/
    /*font-size: 1.1em;*/
    /*font-size: 1.1rem;*/
    /*width: 80vh;*/
    width: 80vw;

}
header, footer {
    height: 30px;
}
main{
    min-height: calc (100hv - 60px);
}