input:checked + span {
    background: blue;

}
input{
    display: none;
}
span{
    display: inline-block;
    padding: 5px 10px;
    font-family: Arial;
    /*border: 1px solid blue;*/
    /*border-radius: 4px;*/
    user-select: none;
    cursor: pointer;
    color: white;
    background: #3457ff;
}
label {
    float: left;
}
label:first-child span {
    border-radius: 4px 0 0 4px;
}
label:last-child span {
    border-radius:  0 4px 4px 0;
}
label:focus {
    outline: 2px solid rgba(7, 49, 255, 0.65);
}