
.header {
    background-image: url(../img/background/section-1.jpg);
    height: 1000px;
    background-size: cover;
}
.page-header {
    background-color: rgba(102, 101, 96, 0.7);

    height: 120px;
    font-family: 'Montserrat', sans-serif;
}
.header-container {
    display: flex;
}
.container {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;


}
.logo {
    display: flex;
    width: 30%;
    margin: 30px;
}
.img-logo {
    display: flex;
    background-color: #18cfab;

    width: 60px;
    height: 40px;
    margin-top: 10px;
}
.logo-triangle-top {
    position: absolute;
    border: 30px solid transparent; border-bottom: 20px solid #18cfab;
    top: -10px;
}
.logo-triangle-bottom {
    position: absolute;
    border: 30px solid transparent; border-top: 20px solid #18cfab;
    top: 80px;

}
.text-logo {
    display: flex;
    padding: 14px 0px 0px 5px;
    font-size: 32px;
}
.logo-img-letter {
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    margin-left: 14px;
    font-size: 40px;
}
.logo-text-first {
    color: #ffffff;

}
.logo-text-second {
    color: #18cfab;

}
.top-menu {
    display: flex;
    width: 70%;
}
.menu-main {
    display: flex;
}

.menu-main li {
    padding: 50px 10px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    position: relative;
}
a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 0 20px;

}