* {
    font-family: Arial, sans-serif;
}
.header{
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.container {
    max-width: 1171px;
    margin: 0 auto;
    height: auto;
}
.logo {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-logo {
    padding: 15px;
    background-color: #1a1d20;
}
.menu-main {
    display: flex;
}
.menu-main li {
    padding: 21px 20px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;


}

.search input {
    background-color: #171a1c;
    width: 50px;
    height: 50px;
    border: none;
}
.icon-search {
    color: white;
    position: absolute;
}
.header-block  {
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-position: 0 -400px;
    background-attachment: fixed;
    background-size: cover;
}
.row {
    width: 100%;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row h1{
    color: white;
    padding: 40px 0 40px 0;
    font-size: 27px;
}
.button-block {
    display: flex;
}
.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px;
}
.btn-left {
    background-color: #89ca62;
    margin-right: 15px;
}
.btn-right {
    background-color: #14b9d5;
}
.article {
    background-color: #f2f2f2;
    height: auto;
}
.text-post-block {
    padding: 20px 30px;
    background-color: white;
    text-align: center;
    font-weight: 600;
    width: 83%;
}
.h2-popular-posts {
    text-align: center;
    padding: 50px;
    color: #18b4cf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.grid-post-block {
    height: 900px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;


}
.item {
    padding:.2em .5em;
}
.item img {
    display: flex;
}
.block-popular-clients {
    background-image: url("../img/Layer 4.png");
    background-repeat: no-repeat;
    height: 395px;
    background-attachment: fixed;
    background-size: cover;
}
.block-popular-clients .container {
    padding-top: 44px;
}
.h2-popular-clients {
    color: white;
    text-align: center;
    padding: 55px;
    text-transform: uppercase;
    font-size: 25px;
}
hr {
    width: 60px;
    height: 2px;
    border: none;
    text-align: center;
    background-color: #18b4cf;
}
.img-clients {
    padding: 50px 0;
    padding-left: 100px;
}
.block-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.block-images img {
    width: 100%;
}
.block-news-all {
    background-color: white;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 0.7fr 1fr 1fr 0.7fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "block-news1 block-news1 block-news1 block-news2"
                            "block-news3 block-news3 block-news4 block-news4"
                            "block-news5 block-news5 block-news6 block-news6"
                            "block-news7 block-news8 block-news8 block-news8";
}


.block-news-text {
    background-color: #f9f7f7;
}
.block-news-text h3 {
    padding: 15px 15px 5px 15px;
    font-size: 16px;
    font-weight: 600;
}
.block-news-text p {
    font-weight: 100;
    font-size: 12px;
    line-height: 21px;
    padding: 5px 15px 15px 15px;
}
.block-news1 {
    grid-area: block-news1;
    display: flex;
    text-align: right;
}

.block-news2 {
    grid-area: block-news2;
    text-align: center;
    margin-right: 10px;
}
.block-news3 {
    grid-area: block-news3;
    text-align: right;
    display: block;
    width: 555px;
}
.block-news4 {
    grid-area: block-news4;
    text-align: right;
    display: block;
    width: 555px;
}
.block-news5 {
    grid-area: block-news5;
    text-align: right;
    display: block;
    width: 555px;
}
.block-news6 {
    grid-area: block-news6;
    text-align: right;
    display: block;
    width: 555px;
}
.block-news7 {
    grid-area: block-news7;
    text-align: center;
}
.block-news8 {
    grid-area: block-news8;
    display: flex;
    text-align: right;
    height: 245px;
}
footer {
    background-color: #1d2124;
}
.footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-left {
    padding: 20px 40px;
    color: white;
    font-size: 13px;
}
.footer-right {
    text-transform: uppercase;

}
.logo-footer {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}