.btn {
    width: 192px;
    height: 52px;
    background-image: url("https://library.kissclipart.com/20180830/kze/kissclipart-free-button-backgrounds-clipart-button-computer-ic-d866ca60a7085d26.jpg");
    background-position: -244px -10px;
    border: 1px solid gray;
    border-radius: 8px;
    color: white;
}
.btn:hover{
    background-position: -458px -10px;
}
.btn.yellow{
    background-position-y: -144px ;
}