
.container li {
    color: red;

}.container p a {
    text-decoration: none;
 }
 .container > a {
     text-decoration: line-through;
 }
 /*к след параграфу */
 .container p + a {
     font-size: 20px;
 }

/* ко всемпараграфам кроме первого*/
 .container p ~ p {
     background: red;
 }
    .paragraph{
        color: red!important;
    }
    /* 0  0  0             0        0    0    0                0     */
    /*       cl,attr+imp  tags+imp imp   id  class, attr      tags  */
    /* tag > class > id > important */


/*1 1 2 */
a.link p#mytitle {

}
/* 1 2 1 */
.container#main p[title="abc"] {

}
