* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    font-family: "Montserrat", sans-serif;
    background-image: url("..//img/stamp.jpg");
    color: #333;
}
p {
    margin: 1.5rem 0;
}
.section {
    padding: 100px 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.title {
    font-size: 1.57rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2rem 0;
}
.subtitle {
    font-size: 1.21rem;
    text-align: center;
    margin: 1.5rem 0;
}
.title-break{
    margin: 3.57rem auto;
    width: 60px;
    height: 3px;
    background: orange;
    border: 0;
}
.contact-form{
    /*width: 50%;*/
    float: left;

}
.contact-details {
    width: 30%;
    float: right;
}
.clearfix {
    clear: both;
}
.block-title {
    font-size: 1.29rem;
    color: white;
    background: #333;
    padding: 0.86rem 1.43rem;
    width: 66%;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.highlighted-text{
    color: orange;
}
.form-control{
    background: transparent;
    padding: 1rem;
    border: 1px solid gray;
    font-style: italic;
    font-size: 1rem;
}
.fieldset{
    font-size: 0;
}
.name-control {
    margin-right:2rem ;
}
.name-control, .email-control {
    width: calc(50% - 1rem);
}
.messege{
    margin: 1.5rem 0;
    width: 100%;
    resize: none;
}
.btn {
    color: white;
    background: orange;
    width: 8.3rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding: 1rem 0;
    margin-right: 1rem;
}
.contact-item i {
    display: inline-block;
    color: orange;
    padding: 0.7rem;
    background: #333;
    width: 2.4rem;
    text-align: center;
}
.contact-item a {
    text-decoration: none;
}
.contact-item {
    margin-bottom: 0.8rem;
}