body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana,  Arial;
    font-size: 18px;
}
p{
    color: white;
}
.wrapper {
    width: 1065px;
    margin:  0 auto;

}
.header {
    margin: 45px 0;
}
.header-left {

}
.header-left h2{
    margin: 0;
    text-decoration: none;
}
.header-left h2 a{
    text-decoration: none;
    color: white;
}
.milan {
    font-size: 29px;
}
.holidays {
    font-size: 18px;
}

.header-left {
    width: 50%;
    float: left;
}
.img_logo {
    width: 9%;
    float: left;
}
.logo_text {
    width: 90%;
}
.header-right {
    width: 50%;
    float: left;
    text-align: right;
}
.header-right p{
    margin: 0;
}
.clearfix:after {
     clear: both;
 }
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.header-left:hover svg,
.header-left:hover a {
    fill: #f26522;
    color: #f26522;
}
svg {
    fill: white;
}



.clearfix {
    zoom: 1; /* ie 6/7 */
}
.img-container {
    float: left;
    margin: 0 65px 35px 0;
    position: relative  ;
    bottom: 0

}
.border-img-container {
    max-width: 310px;
    position: relative;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}
.text-img {
    text-align: center;
    margin: 22px 0;
}
.block-hover {
    background-color: #f26522;
    height: 62px;
    padding: 0 20px;
    width: 271px;
    position: absolute;
    top: 146px;
    display: none;

}
.img-container:hover .block-hover{
    display: block;
}
.img-container:hover .text-img{
    color: #f26522;
}
.img-container:nth-child(3n+3) {
    margin: 0 0 35px 0;
}
.check-text-left {
    width: 50%;
    float: left;
    padding: 15px 0;
}
.check-text-left p{
    margin: 0;

}
.from {
    font-size: 10px;
}
.price {
    font-size: 20px;
}
.detalis {
    font-size: 14px;
    text-align: bottom;
}
.detalis::after{
    content: ">";
}
.check-text-right{
    width: 50%;
    float: left;
}
.check-text-right p{
    text-align: right;
    padding-top: 20px;
}
.eur {

}





.footer p{
    text-align: center;
}
