*,
::after,
::before {
    box-sizing: border-box;
}
body, p {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #666666;
}
.page {
    width: 100%;
    background-color: #007ced;
    position: absolute;
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-size: calc(100% + 25px);
}
.page-container {
    background-color: white;
    max-width: 1240px;

    padding: 40px 70px 60px;
    margin: 3% auto;
    border-radius: 40px;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

}
.header {
    display: flex;
    margin-top: 40px;
}
.logo-symbol {
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    margin-top: 4px;
    border-radius: 100px;
    text-align: center;
    line-height: 44px;
}
.text-logo {
    display: flex;
    width: 65%;
    line-height: 50px;
}
.logo-text-first {
    font-weight: 600;
    font-size: 20px;

    color: #222;
}
.logo-text-second {
    color: #222;
    font-size: 20px;

}
.site-nav {
    line-height: 50px;
}
.menu {
    display: flex;
}
.menu-item {
    display: flex;


}
.menu-item-mg {
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: #222;font-size: 20px;
    font-size: 14px;

}