[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    color: white;
    left: calc(100% + 10px);
    top: 50%;
    text-replace: translate(-50%);
    border-radius: 5px;
    white-space: nowrap;
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;

}
[data-tooltip]::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
    position: absolute;
    right: -10px;
    top: 18px;


}
[data-tooltip]::before,
[data-tooltip]::after{
    opacity: 0;
    transition: all 300ms;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::before{
    opacity: 1;
}