section {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px 0px;
}
h1 {
    font-size: 30px;
    text-transform: uppercase;
}
p {
    color: gray;
    font-size: 17px;
}
hr {
    margin: 50px auto;
    width: 55px;
    border: 1px solid orange;
}
form {
    border: 1px solid gray;
}
button {
    background-color: orange;
    border: none;
    padding: 22px 0;
    line-height: 20px;
    color: white;
    width: 140px;
    line-height: 20px;

}
input   {
    border: none;
    padding: 22px 20px;
    line-height: 20px;
    width: calc(100% - 140px - 40px);
}
span {
    color: orange;
}
a{
    text-decoration: none;
    color: orange;
    white-space: nowrap;
}
